.d1{
  position: absolute;
  top :15%;
  left: 25%;
      background-color: black;
       color:aliceblue ;
       padding: 15%;
}




@media screen and (max-width:425){

    .d1 p{
  font-size: 5px;
    }

}
